* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --answer-wrong-color: red;
  --answer-correct-color: green;
  --orange-color: darkorange;
  --netural-color: blue;
  --aliceblue: aliceblue;
  --darkblue: #130cb7;
  --mediumslateblue: mediumslateblue;
  --grayblue: #90caf9;
  --chartreuse: chartreuse;
  --display-flex: flex;

  --center: center;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: var(--display-flex);
  justify-content: var(--center);
  align-items: var(--center);
  background-color: var(--netural-color);
}

body.correct {
  background-color: var(--answer-correct-color);
}
body.wrong {
  background-color: var(--answer-wrong-color);
}
.container {
  width: 800px;
  max-width: 80%;
  background-color: var(--aliceblue);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 15px 2px;
}
.btn-layout {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
.btn {
  background-color: var(--orange-color);
  border: 2.5px solid gray;
  font-size: 20px;
  font-family: "Fuzzy Bubbles", cursive;

  border-radius: 5px;
  padding: 5% 5%;
  color: white;
}
.submit-btn {
  background-color: var(--orange-color);
  border: 2.5px solid gray;
  border-radius: 5px;
}
.btn:hover {
  border-color: var(--mediumslateblue);
  opacity: 30%;
  background-color: var(--darkblue);
}
#questions {
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: bold;
  font-size: 2.5em;
}
.btn.correct {
  background-color: var(--answer-correct-color);
}
.btn.wrong {
  background-color: var(--answer-wrong-color);
}

#playAgain-btn {
  margin-right: 2%;
}
#clearScores-btn {
  margin-left: 2%;
}

.start-btn,
.playAgain-btn,
.clearScores-btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
}
.controls-btns {
  display: var(--display-flex);
  justify-content: var(--center);
  align-items: var(--center);

  /* justify-content: space-between; */
}
.hide {
  display: none;
}
#gameOver {
  /* background-color: purple; */
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: bold;
}
#displayScore {
  background-color: var(--grayblue);
  border-radius: 5px;
  padding: 5px 10px;
}
#displayScore input {
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px;
}

#finalScoresDisplay li:first-child {
  background-color: var(--chartreuse);
}
#finalScoresDisplay li:last-child {
  background-color: var(--answer-wrong-color);
}
